<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="clinician-view">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="group-a">
            <div class="overlap-group">
              <div class="div">
                <div class="text-wrapper">Patient Profile</div>
                <div class="logo">
                  <div class="overlap-group-2">
                    <div class="ellipse"></div>
                    <img class="line" src="img/line-7.png" />
                    <img class="img" src="img/line-6.png" />
                    <img class="line-2" src="img/line-6-1.png" />
                    <img class="line-3" src="img/line-5.png" />
                    <img class="line-4" src="img/line-4.png" />
                    <img class="line-5" src="img/line-3.png" />
                    <img class="line-6" src="img/line-2.png" />
                    <img class="line-7" src="img/line-1.png" />
                    <p class="diabright"><span class="span">Dia</span> <span class="text-wrapper-2">bright</span></p>
                  </div>
                </div>
                <div class="overlap-2">
                  <div class="reports">
                    <div class="overlap-3">
                      <div class="text-wrapper-3">Patient Information</div>
                      <img class="mask-group" src="img/mask-group.png" />
                      <div class="overlap-4">
                        <div class="div-wrapper"><div class="text-wrapper-4">Export to User</div></div>
                        <div class="text-wrapper-5">About Patient</div>
                        <div class="text-wrapper-6">Email</div>
                      </div>
                      <div class="overlap-group-3">
                        <div class="text-wrapper-7">Add Patient</div>
                        <div class="rectangle"></div>
                      </div>
                      <div class="overlap-5"><div class="text-wrapper-8">Patient List</div></div>
                    </div>
                  </div>
                  <div class="reports-2">
                    <div class="overlap-6">
                      <div class="date-doctor-wrapper">
                        <div class="date-doctor">
                          Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Doctor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          Treatment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          Charges&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Actions
                        </div>
                      </div>
                      <div class="text-wrapper-9">Past Visit History</div>
                      <div class="overlap-7">
                        <div class="rectangle-2"></div>
                        <p class="element-mar-dr-sarah">
                          <span class="text-wrapper-10"
                            >14 Mar
                            2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dr.Sarah
                            Patel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span>
                          <span class="text-wrapper-11"
                            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                          >
                          <span class="text-wrapper-10"
                            >$50<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                          >
                        </p>
                        <div class="text-wrapper-12">Check-up</div>
                      </div>
                      <div class="edit-button-wrapper"><img class="edit-button" src="img/edit-button-2.png" /></div>
                      <div class="trash-wrapper"><img class="trash" src="img/trash-2.png" /></div>
                      <img class="line-8" src="img/line-7-1.png" />
                      <div class="overlap-8">
                        <div class="rectangle-3"></div>
                        <p class="p">
                          <span class="text-wrapper-10"
                            >5 Mar
                            2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Dr.Sarah
                            Patel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                          >
                          <span class="text-wrapper-11">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                          <span class="text-wrapper-10"
                            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span>
                        </p>
                        <div class="text-wrapper-13">Dilated eye exam</div>
                      </div>
                      <div class="img-wrapper"><img class="edit-button" src="img/edit-button-2.png" /></div>
                      <div class="text-wrapper-14">$50</div>
                      <div class="text-wrapper-15">$50</div>
                      <div class="overlap-9"><img class="trash" src="img/trash-2.png" /></div>
                      <img class="line-9" src="img/line-7-1.png" />
                      <div class="overlap-10">
                        <div class="rectangle-4"></div>
                        <div class="text-wrapper-16">Dilated eye exam</div>
                      </div>
                      <div class="overlap-11"><img class="edit-button" src="img/edit-button-2.png" /></div>
                      <p class="element-feb-dr-sarah">
                        <span class="text-wrapper-10">14 Feb 2024&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="text-wrapper-17"
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                        >
                        <span class="text-wrapper-10"
                          >Dr.Sarah Patel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        <span class="text-wrapper-11">&nbsp;</span>
                        <span class="text-wrapper-10"
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                      </p>
                      <div class="overlap-12"><img class="trash" src="img/trash-2.png" /></div>
                    </div>
                    <div class="overlap-13">
                      <div class="progress-bar">
                        <div class="text-wrapper-18">Heart Beat</div>
                        <div class="text-wrapper-19">93</div>
                        <div class="rectangle-wrapper"><div class="rectangle-5"></div></div>
                      </div>
                      <div class="progress-bar-2">
                        <div class="text-wrapper-18">Blood Pressure</div>
                        <div class="text-wrapper-20">89/125</div>
                        <div class="rectangle-wrapper"><div class="rectangle-6"></div></div>
                      </div>
                      <div class="progress-bar-3">
                        <div class="text-wrapper-18">Sugar</div>
                        <div class="text-wrapper-19">60</div>
                        <div class="rectangle-wrapper"><div class="rectangle-7"></div></div>
                      </div>
                      <div class="progress-bar-4">
                        <div class="text-wrapper-18">Retinopathy</div>
                        <div class="text-wrapper-21">60%</div>
                        <div class="rectangle-wrapper"><div class="rectangle-8"></div></div>
                      </div>
                      <div class="text-wrapper-22">General Report</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-9"></div>
            </div>
          </div>
          <div class="group-b">
            <div class="text-wrapper-23">SELECT</div>
            <div class="text-wrapper-24">EXPORT SETTINGS</div>
            <img class="line-10" src="img/line-86.png" />
            <p class="choose-the-widgets">CHOOSE THE WIDGETS TO EXPORT</p>
            <div class="export-format">EXPORT FORMAT</div>
            <div class="overlap-14">
              <div class="reports-by-wrapper"><div class="reports-by">REPORTS BY</div></div>
              <div class="overlap-group-4">
                <div class="text-wrapper-25">Dr. Sarah Patel</div>
                <div class="text-wrapper-26">Dr.</div>
                <div class="text-wrapper-27">Dr.</div>
                <div class="text-wrapper-28">Dr.</div>
                <div class="text-wrapper-29">Dr.</div>
                <div class="rectangle-10"></div>
                <div class="rectangle-11"></div>
                <div class="rectangle-12"></div>
                <div class="rectangle-13"></div>
                <div class="rectangle-14"></div>
              </div>
            </div>
            <div class="overlap-15"><div class="text-wrapper-30">REPORTS</div></div>
            <div class="overlap-16"><div class="text-wrapper-31">PDF</div></div>
            <div class="overlap-17"><div class="text-wrapper-31">EXCEL</div></div>
            <div class="png-wrapper"><div class="text-wrapper-31">PNG</div></div>
            <img class="line-11" src="img/line-88.png" />
            <img class="close" src="img/close.png" />
            <div class="overlap-18">
              <img class="export" src="img/export.png" />
              <div class="text-wrapper-32">Export Data</div>
            </div>
          </div>
          <img class="ellipse-2" src="img/ellipse.png" />
          <p class="name-jane-thomas">
            <span class="text-wrapper-33">Name<br /></span> <span class="text-wrapper-34">Jane Thomas</span>
          </p>
          <div class="text-wrapper-35">JaneTh1@gmail.com</div>
        </div>
      </div>
    </div>
  </body>
</html>
