<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="logging-in-as-a">
      <div class="div">
        <div class="new-appointment">
          <div class="overlap-group"><img class="icon-bag" src="img/icon-bag.png" /></div>
          <p class="title">Read About Retinopathy and its symptoms</p>
        </div>
        <div class="earnings">
          <div class="overlap">
            <div class="rectangle"></div>
            <p class="text-wrapper">Share your Profile with your Clinician today</p>
            <div class="rectangle-2"></div>
            <img class="material-symbols" src="img/material-symbols-light-upload.png" />
          </div>
        </div>
        <div class="right-sidebar">
          <div class="doctor">
            <div class="overlap-group-2">
              <div class="group">
                <div class="text-wrapper-2">Jane Thomas</div>
                <div class="div-wrapper"><div class="text-wrapper-3">Contact no</div></div>
                <div class="group-2"><div class="text-wrapper-4">Address</div></div>
                <div class="group-3">
                  <div class="text-wrapper-3">Email</div>
                  <div class="text-wrapper-5">JaneTh1@gmail.com</div>
                </div>
                <div class="rectangle-3"></div>
                <img class="line" src="img/line-35.png" />
                <img class="img" src="img/line-35.png" />
              </div>
              <img class="ellipse" src="img/ellipse.png" />
              <div class="text-wrapper-6">Oxford Street London</div>
              <div class="text-wrapper-7">(+44) 000 000 00</div>
            </div>
          </div>
          <img class="line-2" src="img/line-34.png" />
          <img class="line-3" src="img/line-34.png" />
          <div class="upcoming-appointment">
            <div class="heading">Upcoming Appointments</div>
            <img class="icon-more" src="img/icon-more.png" />
            <div class="group-4">
              <p class="text">Eye Exam with Dr. Sarah Patel MD</p>
              <img class="icon-arrow-right" src="img/icon-arrow-right.png" />
              <div class="timeline">
                <p class="p">08:30 am - 10:30 am</p>
                <div class="ellipse-2"></div>
              </div>
            </div>
            <div class="timeline-2">July 30, 2024</div>
            <div class="overlap-2">
              <div class="group-wrapper">
                <div class="group-5">
                  <img class="icon-arrow-right-2" src="img/icon-arrow-right-1.png" />
                  <div class="timeline-3">
                    <p class="timeline-4">Reports Exported by Dr. Sarah Patel</p>
                    <div class="ellipse-3"></div>
                  </div>
                </div>
              </div>
              <p class="timeline-5">08:30 am - 10:30 am</p>
            </div>
            <img class="line-4" src="img/line-64.png" />
            <img class="line-5" src="img/line-65.png" />
          </div>
        </div>
        <header class="header">
          <div class="search-bar">
            <div class="overlap-3">
              <div class="overlap-group-wrapper"><input class="input" /></div>
              <img class="icon-search-normal" src="img/icon-search-normal.png" />
            </div>
          </div>
          <div class="text-wrapper-8">Patient Dashboard</div>
          <div class="icon-notification-wrapper"><img class="icon-notification" src="img/icon-notification.png" /></div>
        </header>
        <div class="overlap-4">
          <div class="sidebar">
            <div class="top-menu">
              <div class="general">
                <div class="frame">
                  <img class="img-2" src="img/icon-element-3.png" />
                  <div class="text-wrapper-9">Dashboard</div>
                </div>
                <div class="frame-2">
                  <img class="img-2" src="img/icon-note.png" />
                  <div class="text-wrapper-10">Book an Appointment</div>
                </div>
                <div class="frame-3"></div>
                <div class="frame-2">
                  <img class="img-2" src="img/icon-login.png" />
                  <div class="text-wrapper-11">Logout</div>
                </div>
              </div>
            </div>
            <div class="overlap-5">
              <div class="logo">
                <p class="diabright"><span class="span">Dia</span> <span class="text-wrapper-12">bright</span></p>
              </div>
              <div class="icon">
                <div class="logo-2">
                  <div class="overlap-group-3">
                    <div class="ellipse-4"></div>
                    <img class="line-6" src="img/line-7.png" />
                    <img class="line-7" src="img/line-6.png" />
                    <img class="line-8" src="img/line-6-1.png" />
                    <img class="line-9" src="img/line-5.png" />
                    <img class="line-10" src="img/line-4.png" />
                    <img class="line-11" src="img/line-3.png" />
                    <img class="line-12" src="img/line-2.png" />
                    <img class="line-13" src="img/line-1.png" />
                    <p class="diabright-2"><span class="span">Dia</span> <span class="text-wrapper-12">bright</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-6">
              <div class="rectangle-4"></div>
              <div class="icon-chart">
                <div class="overlap-group-4">
                  <img class="vector" src="img/vector-1.png" /> <img class="vector-2" src="img/vector-2.png" />
                </div>
                <img class="vector-3" src="img/vector-3.png" />
                <div class="text-wrapper-13">Report</div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-7">
          <div class="rectangle-5"></div>
          <img class="color" src="img/color.png" />
          <img class="color-2" src="img/color-1.png" />
          <img class="color-3" src="img/color-2.png" />
          <img class="color-4" src="img/color-3.png" />
          <img class="color-5" src="img/color-4.png" />
          <img class="color-6" src="img/color-5.png" />
          <div class="text-wrapper-14">REPORTS</div>
          <div class="text-wrapper-15">Blood Tests</div>
          <div class="text-wrapper-16">Diabetes</div>
          <div class="text-wrapper-17">Retinopathy</div>
          <div class="text-wrapper-18">Screenings</div>
          <div class="text-wrapper-19">Right Eye</div>
          <div class="text-wrapper-20">Left Eye</div>
          <div class="text-wrapper-21">231</div>
          <div class="text-wrapper-22">142</div>
          <div class="text-wrapper-23">274</div>
          <div class="text-wrapper-24">34</div>
          <div class="text-wrapper-25">56</div>
          <div class="text-wrapper-26">241</div>
        </div>
        <div class="group-6">
          <div class="overlap-8">
            <img class="ellipse-5" src="img/ellipse-64.png" />
            <img class="ellipse-6" src="img/ellipse-65.png" />
            <img class="ellipse-7" src="img/ellipse-66.png" />
            <div class="text-wrapper-27">Total</div>
            <div class="retionopathy">Retionopathy<br />Percentage</div>
            <div class="text-wrapper-28">60%</div>
          </div>
        </div>
        <p class="text-wrapper-29">PNG Shared by Dr. Sarah Patel</p>
        <div class="earnings-history">
          <div class="overlap-9">
            <img class="month" src="img/month.png" />
            <div class="shape"></div>
            <div class="value">
              <div class="element"><div class="text-wrapper-30">0</div></div>
              <div class="element-wrapper"><div class="text-wrapper-30">%5</div></div>
              <div class="element-2"><div class="text-wrapper-30">%30</div></div>
              <div class="element-3"><div class="text-wrapper-30">%50</div></div>
              <div class="element-4"><div class="text-wrapper-30">%80</div></div>
            </div>
            <div class="element-k">%100</div>
            <div class="earnings-history-2">Retinopathy History</div>
            <div class="filter">
              <div class="overlap-group-5"><div class="text-wrapper-31">Monthly</div></div>
              <div class="text-wrapper-32">Yearly</div>
              <div class="text-wrapper-33">Weekly</div>
            </div>
          </div>
        </div>
        <div class="group-7">
          <div class="img-wrapper"><img class="group-8" src="img/group.png" /></div>
          <p class="emergency-hotline">
            <span class="text-wrapper-34">Emergency Hotline:<br /></span>
            <span class="text-wrapper-35">+44 -999 999 9999</span>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
