<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="profile">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="clinician-view">
            <div class="text-wrapper">Patient Profile</div>
            <div class="logo">
              <div class="overlap-group">
                <div class="ellipse"></div>
                <img class="line" src="img/line-7.png" />
                <img class="img" src="img/line-6.png" />
                <img class="line-2" src="img/line-6-1.png" />
                <img class="line-3" src="img/line-5.png" />
                <img class="line-4" src="img/line-4.png" />
                <img class="line-5" src="img/line-3.png" />
                <img class="line-6" src="img/line-2.png" />
                <img class="line-7" src="img/line-1.png" />
                <p class="diabright"><span class="span">Dia</span> <span class="text-wrapper-2">bright</span></p>
              </div>
            </div>
            <div class="div">
              <div class="reports">
                <div class="overlap-2">
                  <div class="text-wrapper-3">Patient Information</div>
                  <img class="mask-group" src="img/mask-group.png" />
                  <div class="overlap-group-2">
                    <div class="rectangle"></div>
                    <div class="text-wrapper-4">About Patient</div>
                    <div class="text-wrapper-5">Email</div>
                  </div>
                </div>
              </div>
              <div class="reports-2">
                <div class="overlap-3">
                  <div class="rectangle-2"></div>
                  <div class="rectangle-3"></div>
                  <div class="text-wrapper-6">Past Visit History</div>
                  <div class="rectangle-4"></div>
                  <div class="date-doctor">
                    Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Doctor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Treatment
                  </div>
                  <p class="element-mar-dr-sarah">
                    <span class="text-wrapper-7"
                      >14 Mar
                      2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dr.Sarah
                      Patel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="text-wrapper-8"
                      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br
                    /></span>
                    <span class="text-wrapper-7"
                      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                    >
                  </p>
                  <img class="line-8" src="img/line-6-2.png" />
                  <div class="rectangle-5"></div>
                  <p class="p">
                    <span class="text-wrapper-7"
                      >5 Mar 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Dr.Sarah
                      Patel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                    >
                    <span class="text-wrapper-8">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="text-wrapper-7"
                      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                  </p>
                  <div class="text-wrapper-9">Dilated eye exam</div>
                  <div class="text-wrapper-10">Check-up</div>
                  <img class="line-9" src="img/line-7-1.png" />
                  <div class="rectangle-6"></div>
                  <p class="element-feb-dr-sarah">
                    <span class="text-wrapper-7">14 Feb 2024&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="text-wrapper-11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="text-wrapper-7"
                      >Dr.Sarah Patel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="text-wrapper-8">&nbsp;</span>
                    <span class="text-wrapper-7"
                      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                  </p>
                  <div class="text-wrapper-12">Dilated eye exam</div>
                </div>
                <div class="overlap-4">
                  <div class="rectangle-7"></div>
                  <div class="progress-bar">
                    <div class="text-wrapper-13">Heart Beat</div>
                    <div class="text-wrapper-14">93</div>
                    <div class="rectangle-wrapper"><div class="rectangle-8"></div></div>
                  </div>
                  <div class="progress-bar-2">
                    <div class="text-wrapper-13">Blood Pressure</div>
                    <div class="text-wrapper-15">89/125</div>
                    <div class="rectangle-wrapper"><div class="rectangle-9"></div></div>
                  </div>
                  <div class="progress-bar-3">
                    <div class="text-wrapper-13">Sugar</div>
                    <div class="text-wrapper-14">60</div>
                    <div class="rectangle-wrapper"><div class="rectangle-10"></div></div>
                  </div>
                  <div class="progress-bar-4">
                    <div class="text-wrapper-13">Retinopathy</div>
                    <div class="text-wrapper-16">60%</div>
                    <div class="rectangle-wrapper"><div class="rectangle-11"></div></div>
                  </div>
                  <div class="text-wrapper-17">General Report</div>
                </div>
              </div>
            </div>
          </div>
          <img class="ellipse-2" src="img/ellipse.png" />
          <div class="text-wrapper-18">JaneTh1@gmail.com</div>
          <div class="group">
            <div class="overlap-5">
              <img class="ellipse-3" src="img/ellipse-64.png" />
              <img class="ellipse-4" src="img/ellipse-65.png" />
              <img class="ellipse-5" src="img/ellipse-66.png" />
              <div class="text-wrapper-19">Total</div>
              <div class="retionopathy">Retionopathy<br />Percentage</div>
              <div class="text-wrapper-20">60%</div>
            </div>
          </div>
          <p class="name-jane-thomas">
            <span class="text-wrapper-21">Name<br /></span> <span class="text-wrapper-22">Jane Thomas</span>
          </p>
          <div class="text-wrapper-23">Latest Screening Results</div>
          <div class="mid-risk"><div class="mid-risk-2">Back</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
