<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="logging-in-as-a">
      <div class="div">
        <div class="overlap">
          <div class="earnings">
            <p class="title">Send requests to access reports</p>
            <div class="overlap-group"><img class="img" src="img/material-symbols-light-upload.png" /></div>
          </div>
          <div class="overlap-2">
            <div class="overlap-3">
              <div class="right-sidebar">
                <div class="overlap-4">
                  <div class="doctor">
                    <div class="group">
                      <div class="text-wrapper">Dr. Sarah Patel, MD</div>
                      <div class="group-2">
                        <div class="text-wrapper-2">Appointment</div>
                        <div class="text-wrapper-3">500</div>
                      </div>
                      <div class="group-3">
                        <div class="text-wrapper-4">Total Patients</div>
                        <div class="text-wrapper-5">2500</div>
                      </div>
                      <div class="group-4">
                        <div class="text-wrapper-2">Rate</div>
                        <div class="text-wrapper-6">4.8</div>
                      </div>
                      <div class="overlap-group-2"></div>
                      <img class="line" src="img/line-35-1.png" />
                      <img class="line-2" src="img/line-35-1.png" />
                    </div>
                  </div>
                  <img class="line-3" src="img/line-34-1.png" />
                  <img class="line-4" src="img/line-34-1.png" />
                  <div class="patient-satisfaction">
                    <div class="text-wrapper-7">Patient Satisfaction</div>
                    <div class="group-5">
                      <div class="text-wrapper-8">Excellent</div>
                      <div class="rectangle"></div>
                    </div>
                    <div class="group-6">
                      <div class="text-wrapper-8">Good</div>
                      <div class="rectangle-2"></div>
                    </div>
                    <div class="group-7">
                      <div class="text-wrapper-8">Poor</div>
                      <div class="rectangle-3"></div>
                    </div>
                    <div class="overlap-group-wrapper">
                      <div class="overlap-group-3">
                        <img class="ellipse" src="img/ellipse-64.png" />
                        <img class="ellipse-2" src="img/ellipse-65.png" />
                        <img class="ellipse-3" src="img/ellipse-66.png" />
                        <div class="text-wrapper-9">Total</div>
                        <div class="text-wrapper-10">50k</div>
                      </div>
                    </div>
                  </div>
                  <div class="upcoming-appointment">
                    <div class="heading">Scheduled Appointments</div>
                    <img class="icon-more" src="img/icon-more.png" />
                    <div class="group-8">
                      <div class="text">Miss Jane Thomas</div>
                      <img class="icon-arrow-right" src="img/icon-arrow-right-2.png" />
                      <div class="timeline">
                        <p class="p">08:30 am - 10:30 am</p>
                        <div class="ellipse-4"></div>
                      </div>
                    </div>
                    <div class="timeline-2">July 30, 2024</div>
                    <div class="overlap-5">
                      <div class="group-9">
                        <div class="text">Miss Jane Thomas</div>
                        <img class="icon-arrow-right" src="img/icon-arrow-right-2.png" />
                        <div class="timeline-3"></div>
                      </div>
                      <div class="timeline-4">Profile Shared</div>
                      <img class="vector" src="img/icon-arrow-right-4.png" />
                    </div>
                    <img class="line-5" src="img/line-64-1.png" />
                    <img class="line-6" src="img/line-65-1.png" />
                  </div>
                  <div class="right-sidebar-2">
                    <div class="overlap-6">
                      <div class="timeline-5">08 am</div>
                      <div class="group-10">
                        <img class="icon-arrow-right-2" src="img/icon-arrow-right-4.png" />
                        <div class="timeline-6">
                          <p class="timeline-7">Jane Thomas has shared her Profile with you</p>
                          <div class="ellipse-5"></div>
                        </div>
                      </div>
                    </div>
                    <div class="div-wrapper">
                      <div class="overlap-group-4">
                        <div class="group-11">
                          <div class="text-wrapper-11">Gina Thomas</div>
                          <div class="group-12"><div class="text-wrapper-2">Contact no</div></div>
                          <div class="group-13"><div class="text-wrapper-4">Address</div></div>
                          <div class="group-14">
                            <div class="text-wrapper-2">Email</div>
                            <div class="text-wrapper-12">GinaTh1@gmail.com</div>
                          </div>
                          <div class="rectangle-4"></div>
                          <img class="line" src="img/line-35-1.png" />
                          <img class="line-2" src="img/line-35-1.png" />
                        </div>
                        <img class="ellipse-6" src="img/ellipse.png" />
                        <div class="text-wrapper-13">Oxford Street London</div>
                        <div class="text-wrapper-14">(+44) 000 000 00</div>
                      </div>
                    </div>
                    <img class="line-7" src="img/line-34-1.png" />
                    <img class="line-8" src="img/line-34-1.png" />
                    <div class="upcoming-appointment-2">
                      <div class="group-8">
                        <p class="text">Eye Exam with Dr. Sarah Patel MD</p>
                        <img class="icon-arrow-right" src="img/icon-arrow-right-2.png" />
                        <div class="timeline">
                          <p class="p">08:30 am - 10:30 am</p>
                          <div class="ellipse-4"></div>
                        </div>
                      </div>
                      <div class="timeline-2">July 30, 2024</div>
                      <img class="line-5" src="img/line-64-1.png" />
                      <img class="line-6" src="img/line-65-1.png" />
                      <div class="overlap-7">
                        <div class="group-15">
                          <img class="icon-arrow-right-3" src="img/icon-arrow-right-4.png" />
                          <div class="timeline-8">
                            <p class="timeline-9">Reports Exported by Dr. Sarah Patel</p>
                            <div class="ellipse-5"></div>
                          </div>
                        </div>
                        <p class="timeline-5">08:30 am - 10:30 am</p>
                      </div>
                      <div class="status">View</div>
                      <div class="timeline-10">Send them a reminder</div>
                      <img class="mynaui-message" src="img/mynaui-message.png" />
                      <p class="heading-2">Upcoming Appointments for Jane Thomas</p>
                    </div>
                    <div class="status-2">View</div>
                  </div>
                </div>
              </div>
              <div class="map">
                <div class="overlap-8">
                  <div class="overlap-9">
                    <div class="overlap-10">
                      <img class="shape" src="img/shape.png" />
                      <img class="shape-2" src="img/shape-1.png" />
                      <img class="shape-3" src="img/shape-2.png" />
                      <img class="shape-4" src="img/shape-3.png" />
                      <img class="shape-5" src="img/shape-4.png" />
                      <img class="shape-6" src="img/shape-5.png" />
                      <img class="shape-7" src="img/shape-6.png" />
                      <img class="shape-8" src="img/shape-7.png" />
                      <img class="shape-9" src="img/shape-8.png" />
                      <img class="shape-10" src="img/shape-9.png" />
                      <img class="shape-11" src="img/shape-10.png" />
                      <img class="shape-12" src="img/shape-11.png" />
                      <img class="shape-13" src="img/shape-12.png" />
                      <img class="shape-14" src="img/shape-13.png" />
                      <img class="shape-15" src="img/shape-14.png" />
                      <img class="shape-16" src="img/shape-15.png" />
                      <img class="shape-17" src="img/shape-16.png" />
                      <img class="shape-18" src="img/shape-17.png" />
                      <img class="shape-19" src="img/shape-18.png" />
                      <img class="shape-20" src="img/shape-19.png" />
                      <img class="shape-21" src="img/shape-20.png" />
                      <img class="shape-22" src="img/shape-21.png" />
                      <img class="shape-23" src="img/shape-22.png" />
                      <img class="shape-24" src="img/shape-23.png" />
                      <img class="shape-25" src="img/shape-24.png" />
                      <img class="shape-26" src="img/shape-25.png" />
                      <img class="shape-27" src="img/shape-26.png" />
                      <img class="shape-28" src="img/shape-27.png" />
                      <img class="shape-29" src="img/shape-28.png" />
                      <img class="shape-30" src="img/shape-29.png" />
                      <img class="shape-31" src="img/shape-30.png" />
                      <img class="shape-32" src="img/shape-31.png" />
                      <img class="shape-33" src="img/shape-32.png" />
                      <img class="shape-34" src="img/shape-33.png" />
                      <img class="shape-35" src="img/shape-34.png" />
                      <img class="shape-36" src="img/shape-35.png" />
                      <img class="shape-37" src="img/shape-36.png" />
                      <img class="shape-38" src="img/shape-37.png" />
                      <img class="shape-39" src="img/shape-38.png" />
                      <img class="shape-40" src="img/shape-39.png" />
                      <img class="shape-41" src="img/shape-40.png" />
                      <img class="shape-42" src="img/shape-41.png" />
                      <img class="shape-43" src="img/shape-42.png" />
                      <img class="shape-44" src="img/shape-43.png" />
                      <img class="shape-45" src="img/shape-44.png" />
                      <img class="shape-46" src="img/shape-45.png" />
                      <img class="shape-47" src="img/shape-46.png" />
                      <img class="shape-48" src="img/shape-47.png" />
                      <img class="shape-49" src="img/shape-48.png" />
                      <img class="shape-50" src="img/shape-49.png" />
                      <img class="shape-51" src="img/shape-50.png" />
                      <img class="shape-52" src="img/shape-51.png" />
                      <img class="shape-53" src="img/shape-52.png" />
                      <img class="shape-54" src="img/shape-53.png" />
                      <img class="shape-55" src="img/shape-54.png" />
                      <img class="shape-56" src="img/shape-55.png" />
                      <img class="shape-57" src="img/shape-56.png" />
                      <img class="shape-58" src="img/shape-57.png" />
                      <img class="shape-59" src="img/shape-58.png" />
                      <img class="shape-60" src="img/shape-59.png" />
                      <img class="shape-61" src="img/shape-60.png" />
                      <img class="shape-62" src="img/shape-61.png" />
                      <img class="shape-63" src="img/shape-62.png" />
                      <img class="shape-64" src="img/shape-63.png" />
                      <img class="shape-65" src="img/shape-64.png" />
                      <img class="shape-66" src="img/shape-65.png" />
                      <img class="shape-67" src="img/shape-66.png" />
                      <img class="shape-68" src="img/shape-67.png" />
                      <img class="shape-69" src="img/shape-68.png" />
                      <img class="shape-70" src="img/shape-69.png" />
                      <img class="shape-71" src="img/shape-70.png" />
                      <img class="shape-72" src="img/shape-71.png" />
                      <img class="shape-73" src="img/shape-72.png" />
                      <img class="shape-74" src="img/shape-73.png" />
                      <img class="shape-75" src="img/shape-74.png" />
                      <img class="shape-76" src="img/shape-75.png" />
                      <img class="shape-77" src="img/shape-76.png" />
                      <img class="shape-78" src="img/shape-77.png" />
                      <img class="shape-79" src="img/shape-78.png" />
                      <img class="shape-80" src="img/shape-79.png" />
                      <img class="shape-81" src="img/shape-80.png" />
                      <img class="shape-82" src="img/shape-81.png" />
                      <img class="shape-83" src="img/shape-82.png" />
                      <img class="shape-84" src="img/shape-83.png" />
                      <img class="shape-85" src="img/shape-84.png" />
                      <img class="shape-86" src="img/shape-85.png" />
                      <img class="shape-87" src="img/shape-86.png" />
                      <img class="shape-88" src="img/shape-87.png" />
                      <img class="shape-89" src="img/shape-88.png" />
                      <img class="shape-90" src="img/shape-89.png" />
                      <img class="shape-91" src="img/shape-90.png" />
                      <img class="shape-92" src="img/shape-91.png" />
                      <img class="shape-93" src="img/shape-92.png" />
                      <img class="shape-94" src="img/shape-93.png" />
                      <img class="shape-95" src="img/shape-125.png" />
                      <img class="shape-96" src="img/shape-126.png" />
                      <img class="shape-97" src="img/shape-127.png" />
                      <img class="shape-98" src="img/shape-128.png" />
                      <img class="shape-99" src="img/shape-130.png" />
                      <img class="shape-100" src="img/shape-132.png" />
                      <img class="shape-100" src="img/shape-132.png" />
                      <img class="shape-101" src="img/shape-133.png" />
                      <img class="shape-102" src="img/shape-134.png" />
                      <img class="shape-103" src="img/shape-135.png" />
                      <img class="shape-104" src="img/shape-136.png" />
                      <img class="shape-105" src="img/shape-137.png" />
                      <img class="shape-106" src="img/shape-138.png" />
                      <img class="shape-107" src="img/shape-139.png" />
                      <img class="shape-108" src="img/shape-140.png" />
                      <img class="shape-109" src="img/shape-141.png" />
                      <img class="shape-110" src="img/shape-142.png" />
                      <img class="shape-111" src="img/shape-143.png" />
                      <img class="shape-112" src="img/shape-144.png" />
                      <img class="shape-113" src="img/shape-145.png" />
                      <img class="shape-114" src="img/shape-147.png" />
                      <img class="shape-115" src="img/shape-151.png" />
                      <img class="shape-116" src="img/shape-154.png" />
                      <img class="shape-117" src="img/shape-155.png" />
                      <img class="shape-118" src="img/shape-156.png" />
                      <img class="shape-119" src="img/shape-158.png" />
                      <img class="shape-119" src="img/shape-158.png" />
                      <img class="shape-120" src="img/shape-159.png" />
                      <img class="shape-121" src="img/shape-160.png" />
                      <img class="shape-122" src="img/shape-161.png" />
                      <img class="shape-123" src="img/shape-162.png" />
                      <img class="shape-124" src="img/shape-163.png" />
                      <img class="shape-125" src="img/shape-165.png" />
                      <img class="shape-126" src="img/shape-168.png" />
                      <img class="shape-127" src="img/shape-169.png" />
                      <img class="shape-128" src="img/shape-170.png" />
                      <img class="shape-129" src="img/shape-171.png" />
                      <img class="shape-130" src="img/shape-172.png" />
                      <img class="shape-131" src="img/shape-173.png" />
                      <img class="shape-132" src="img/shape-174.png" />
                      <img class="shape-133" src="img/shape-175.png" />
                      <img class="shape-134" src="img/shape-176.png" />
                    </div>
                    <div class="overlap-11">
                      <img class="shape-135" src="img/shape-94.png" />
                      <img class="shape-136" src="img/shape-95.png" />
                      <img class="shape-137" src="img/shape-96.png" />
                      <img class="shape-138" src="img/shape-97.png" />
                      <img class="shape-139" src="img/shape-98.png" />
                      <img class="shape-140" src="img/shape-99.png" />
                      <img class="shape-141" src="img/shape-100.png" />
                      <img class="shape-142" src="img/shape-101.png" />
                      <img class="shape-143" src="img/shape-102.png" />
                      <img class="shape-144" src="img/shape-103.png" />
                      <img class="shape-145" src="img/shape-104.png" />
                      <img class="shape-146" src="img/shape-105.png" />
                      <img class="shape-147" src="img/shape-106.png" />
                      <img class="shape-148" src="img/shape-107.png" />
                      <img class="shape-149" src="img/shape-108.png" />
                      <img class="shape-150" src="img/shape-109.png" />
                      <img class="shape-151" src="img/shape-110.png" />
                      <img class="shape-152" src="img/shape-111.png" />
                      <img class="shape-153" src="img/shape-112.png" />
                      <img class="shape-154" src="img/shape-113.png" />
                      <img class="shape-155" src="img/shape-114.png" />
                      <img class="shape-156" src="img/shape-115.png" />
                      <img class="shape-157" src="img/shape-116.png" />
                      <img class="shape-158" src="img/shape-117.png" />
                      <img class="shape-159" src="img/shape-118.png" />
                      <img class="shape-160" src="img/shape-119.png" />
                      <img class="shape-161" src="img/shape-120.png" />
                      <img class="shape-162" src="img/shape-121.png" />
                      <img class="shape-163" src="img/shape-123.png" />
                      <img class="shape-164" src="img/shape-124.png" />
                      <img class="shape-165" src="img/shape-129.png" />
                      <img class="shape-166" src="img/shape-166.png" />
                      <img class="shape-167" src="img/shape-167.png" />
                    </div>
                    <img class="shape-168" src="img/shape-122.png" />
                    <img class="shape-169" src="img/shape-146.png" />
                    <div class="shape-wrapper"><img class="shape-170" src="img/shape-150.png" /></div>
                    <img class="shape-171" src="img/shape-152.png" />
                    <img class="shape-172" src="img/shape-153.png" />
                    <img class="shape-173" src="img/shape-164.png" />
                  </div>
                  <img class="shape-174" src="img/shape-148.png" />
                </div>
              </div>
              <p class="helping-the-triage">
                Helping the triage of diabetic retinopathy <br />in lower-income areas of the world
              </p>
            </div>
            <header class="header">
              <div class="search-bar">
                <div class="overlap-12">
                  <div class="group-16"><input class="input" /></div>
                  <img class="icon-search-normal" src="img/icon-search-normal.png" />
                </div>
              </div>
              <div class="family-friend"><br />Family/Friend Dashboard</div>
              <div class="icon-notification-wrapper">
                <img class="icon-notification" src="img/icon-notification.png" />
              </div>
            </header>
            <div class="new-appointment">
              <div class="icon-bag-wrapper"><img class="img" src="img/icon-bag.png" /></div>
              <p class="title-2">Read About Retinopathy and its symptoms</p>
            </div>
            <p class="text-wrapper-15">See the Possibilities: Explore Funds, Treat Retinopathy</p>
            <div class="funds">
              <div class="overlap-13">
                <div class="background"></div>
                <div class="mid-risk"><div class="mid-risk-2">Explore</div></div>
                <img class="image" src="img/image.png" />
                <div class="separator"></div>
                <div class="background-2"></div>
                <div class="total-paid-out">
                  <div class="overlap-group-5">
                    <div class="text-wrapper-16">Total Paid Out</div>
                    <div class="element">$10,000</div>
                  </div>
                </div>
                <p class="can-be-used-for-all">
                  <span class="span">Can be used for all types of treatments against Diabetic retinopathy at </span>
                  <span class="text-wrapper-17">Dia</span>
                  <span class="span">bright.</span>
                </p>
                <div class="categories">
                  <div class="industries">Medical</div>
                  <img class="ic-chevron-down" src="img/ic-chevron-down.png" />
                </div>
                <div class="separator-2"></div>
                <div class="separator-3"></div>
                <p class="small-fund">
                  <span class="text-wrapper-17">Dia</span> <span class="text-wrapper-18">bright Fund</span>
                </p>
              </div>
            </div>
          </div>
          <div class="overlap-14">
            <div class="common-diseases">
              <div class="text-wrapper-19">Doctors List</div>
              <div class="doctors-name-status-wrapper">
                <div class="doctors-name-status">
                  #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Doctors&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Status
                </div>
              </div>
              <p class="dr-sarah-patel">
                <span class="text-wrapper-20"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <span class="text-wrapper-21"
                  >Dr. Sarah
                  Patel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </p>
              <div class="overlap-15"><div class="text-wrapper-22">Available</div></div>
              <div class="overlap-16"><div class="text-wrapper-22">Available</div></div>
              <div class="overlap-17"><div class="text-wrapper-22">Available</div></div>
              <div class="overlap-18"><div class="text-wrapper-23">On Leave</div></div>
              <img class="line-9" src="img/line-8.png" />
              <p class="dr-emily-rodriguez">
                <span class="text-wrapper-20"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <span class="text-wrapper-21"
                  >Dr. Emily
                  Rodriguez&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </p>
              <img class="line-10" src="img/line-8.png" />
              <p class="dr-anna-sokolova">
                <span class="text-wrapper-20"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <span class="text-wrapper-21"
                  >Dr. Anna
                  Sokolova&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </p>
              <img class="line-11" src="img/line-8.png" />
              <p class="dr-javier-morales">
                <span class="text-wrapper-20"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <span class="text-wrapper-21"
                  >Dr. Javier
                  Morales&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </p>
            </div>
            <div class="ellipse-7"></div>
            <img class="rectangle-5" src="img/rectangle-442-1.png" />
            <img class="rectangle-6" src="img/rectangle-2.png" />
            <img class="rectangle-7" src="img/rectangle-3.png" />
            <img class="rectangle-8" src="img/rectangle-4.png" />
          </div>
        </div>
        <div class="sidebar">
          <div class="overlap-19">
            <div class="rectangle-9"></div>
            <div class="top-menu">
              <div class="general-wrapper">
                <div class="general">
                  <div class="frame">
                    <img class="img-2" src="img/icon-element-3.png" />
                    <div class="text-wrapper-24">Dashboard</div>
                  </div>
                  <div class="frame-2">
                    <div class="icon-chart">
                      <div class="overlap-group-6">
                        <img class="vector-2" src="img/vector-2.png" /> <img class="vector-3" src="img/vector-3.png" />
                      </div>
                      <img class="vector-4" src="img/vector-4.png" />
                      <div class="text-wrapper-25">Report</div>
                    </div>
                  </div>
                  <div class="frame-2">
                    <img class="img-2" src="img/icon-login.png" />
                    <div class="text-wrapper-26">Logout</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="user-account"></div>
          <div class="overlap-20">
            <div class="logo">
              <p class="diabright">
                <span class="text-wrapper-27">Dia</span> <span class="text-wrapper-28">bright</span>
              </p>
            </div>
            <div class="icon">
              <div class="logo-2">
                <div class="overlap-group-7">
                  <div class="ellipse-8"></div>
                  <img class="line-12" src="img/line-7.png" />
                  <img class="line-13" src="img/line-6.png" />
                  <img class="line-14" src="img/line-6-1.png" />
                  <img class="line-15" src="img/line-5.png" />
                  <img class="line-16" src="img/line-4.png" />
                  <img class="line-17" src="img/line-3.png" />
                  <img class="line-18" src="img/line-2.png" />
                  <img class="line-19" src="img/line-1.png" />
                  <p class="diabright-2">
                    <span class="text-wrapper-27">Dia</span> <span class="text-wrapper-28">bright</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
