<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="logging-in-as-a">
      <div class="div">
        <div class="patient-data">
          <div class="overlap-group">
            <div class="overlap">
              <div class="overlap-2">
                <img class="icon-more" src="img/icon-more.png" /> <img class="line" src="img/line-31.png" />
              </div>
              <div class="table-heading">
                <div class="text-wrapper">Patient name</div>
                <div class="text-wrapper-2">Date In</div>
                <div class="text-wrapper-3">Appointments</div>
              </div>
            </div>
            <div class="patient-row">
              <div class="full-name">Jane Thomas</div>
              <div class="date">April 18, 2024</div>
              <div class="diagnostic">Learn more</div>
              <div class="status">Confirmed</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="navbar">
              <div class="full-name">Albert Flores</div>
              <div class="date">May 18, 2024</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-2">Incoming</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="navbar-2">
              <div class="full-name">Floyd Miles</div>
              <div class="date">June 18, 2024</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status">Confirmed</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="navbar-3">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="navbar-4">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="patient-row-2">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="patient-row-3">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="patient-row-4">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="patient-row-5">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="patient-row-6">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="patient-row-7">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="patient-row-8">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="patient-row-9">
              <div class="full-name">Marvin McKinney</div>
              <div class="date">July 18, 2023</div>
              <div class="diagnostic-2">&nbsp;&nbsp; ----</div>
              <div class="status-3">Cancelled</div>
              <div class="photo"></div>
              <img class="icon-edit" src="img/icon-edit-2-12.png" />
              <img class="icon-trash" src="img/icon-trash-12.png" />
            </div>
            <div class="heading">Patient Information</div>
          </div>
        </div>
        <div class="right-sidebar">
          <div class="doctor-wrapper">
            <div class="doctor">
              <div class="group">
                <p class="dr-sarah-patel-MD">
                  <span class="span">Dr. Sarah Patel, MD </span> <span class="text-wrapper-4">FRCOphth</span>
                </p>
                <div class="group-2">
                  <div class="text-wrapper-5">Appointment</div>
                  <div class="text-wrapper-6">500</div>
                </div>
                <div class="group-3">
                  <div class="text-wrapper-7">Total Patients</div>
                  <div class="text-wrapper-8">2500</div>
                </div>
                <div class="group-4">
                  <div class="text-wrapper-5">Rate</div>
                  <div class="text-wrapper-9">4.8</div>
                </div>
                <img class="rectangle" src="img/rectangle-441.png" />
                <img class="img" src="img/line-35.png" />
                <img class="line-2" src="img/line-35.png" />
              </div>
            </div>
          </div>
        </div>
        <header class="header">
          <div class="search-bar">
            <div class="overlap-3">
              <div class="overlap-group-wrapper">
                <div class="div-wrapper"><div class="text">Search type of keywords</div></div>
              </div>
              <img class="icon-search-normal" src="img/icon-search-normal.png" />
            </div>
          </div>
          <div class="text-wrapper-10">Patient Informtion</div>
          <div class="icon-notification-wrapper"><img class="icon-notification" src="img/icon-notification.png" /></div>
        </header>
        <div class="overlap-4">
          <div class="sidebar">
            <div class="overlap-5">
              <div class="rectangle-2"></div>
              <div class="top-menu">
                <div class="general">
                  <div class="frame">
                    <img class="img-2" src="img/icon-element-3.png" />
                    <div class="text-wrapper-11">Dashboard</div>
                  </div>
                  <div class="frame-2">
                    <img class="img-2" src="img/icon-note.png" />
                    <div class="text-wrapper-11">Appointment</div>
                  </div>
                  <img class="img-2" src="img/icon-people.png" />
                  <div class="frame-2">
                    <img class="img-2" src="img/icon-setting-2.png" />
                    <div class="text-wrapper-12">Setting</div>
                  </div>
                  <div class="frame-3">
                    <img class="img-2" src="img/icon-login.png" />
                    <div class="text-wrapper-12">Logout</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-account">
              <div class="group-wrapper">
                <div class="group-5">
                  <div class="overlap-group-2">
                    <div class="avatar"></div>
                    <img class="rectangle-3" src="img/rectangle-442.png" />
                  </div>
                  <div class="name-position"><div class="text-wrapper-13">Sarah Patel</div></div>
                  <div class="name-position-2"><div class="text-wrapper-14">Doctor</div></div>
                  <img class="icon-arrow-down" src="img/icon-arrow-down.png" />
                </div>
              </div>
            </div>
            <div class="overlap-6">
              <div class="logo">
                <p class="diabright">
                  <span class="text-wrapper-15">Dia</span> <span class="text-wrapper-16">bright</span>
                </p>
              </div>
              <div class="icon">
                <div class="logo-2">
                  <div class="overlap-group-3">
                    <div class="ellipse"></div>
                    <img class="line-3" src="img/line-7.png" />
                    <img class="line-4" src="img/line-6.png" />
                    <img class="line-5" src="img/line-6-1.png" />
                    <img class="line-6" src="img/line-5.png" />
                    <img class="line-7" src="img/line-4.png" />
                    <img class="line-8" src="img/line-3.png" />
                    <img class="line-9" src="img/line-2.png" />
                    <img class="line-10" src="img/line-1.png" />
                    <p class="p">
                      <span class="text-wrapper-15">Dia</span> <span class="text-wrapper-16">bright</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rectangle-4"></div>
          <img class="icon-people" src="img/icon-people-1.png" />
          <div class="text-wrapper-17">Patient</div>
        </div>
      </div>
    </div>
  </body>
</html>
