<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="logging-in-as-a">
      <div class="div">
        <div class="new-appointment">
          <div class="persentage">
            <img class="icon-arrow-up" src="img/icon-arrow-up-2.png" />
            <div class="title">+ 201</div>
          </div>
          <div class="text-wrapper">New Appointment</div>
          <div class="amount">153</div>
          <div class="overlap-group"><img class="img" src="img/icon-bag.png" /></div>
        </div>
        <div class="earnings">
          <div class="persentage">
            <img class="icon-arrow-up" src="img/icon-arrow-up-2.png" />
            <div class="title">+ 201</div>
          </div>
          <div class="text-wrapper">Patient Shared Profiles</div>
          <div class="amount">560</div>
          <div class="overlap"><img class="img" src="img/icon-wallet.png" /></div>
        </div>
        <div class="new-patient">
          <div class="persentage">
            <img class="icon-arrow-up" src="img/icon-arrow-up-2.png" />
            <div class="title">+ 201</div>
          </div>
          <div class="text-wrapper">New Patient</div>
          <div class="amount">1,925</div>
          <div class="symptoms-virus-wrapper">
            <div class="symptoms-virus"><img class="exclude" src="img/exclude.png" /></div>
          </div>
        </div>
        <div class="appointment">
          <div class="months">
            <div class="text">Jan</div>
            <div class="text">Feb</div>
            <div class="text">Mar</div>
            <div class="text">Apr</div>
            <div class="text">May</div>
            <div class="text">Jun</div>
            <div class="text">Jul</div>
            <div class="text">Aug</div>
            <div class="text">Sep</div>
            <div class="text">Oct</div>
            <div class="text">Nov</div>
            <div class="text">Dec</div>
          </div>
          <div class="overlap-2">
            <div class="amount-2">
              <div class="amount-3">200</div>
              <div class="amount-4">100</div>
              <div class="amount-5">50</div>
              <div class="amount-6">0</div>
            </div>
            <div class="lines">
              <img class="line" src="img/line-3.png" />
              <img class="line-2" src="img/line-3.png" />
              <img class="line-3" src="img/line-3.png" />
              <img class="line-4" src="img/line-3.png" />
            </div>
            <img class="graphs" src="img/graphs.png" />
          </div>
          <div class="heading">Patient Visit</div>
          <div class="date">
            <div class="overlap-group-2">
              <img class="icon-arrow-square" src="img/icon-arrow-square-down.png" />
              <div class="text-wrapper-2">Monthly</div>
            </div>
          </div>
          <div class="text-wrapper-3">Sort by</div>
        </div>
        <div class="patient-data">
          <img class="icon-more" src="img/icon-more-1.png" />
          <div class="patient-row">
            <div class="full-name">Jane Thomas</div>
            <div class="date-2">April 18, 2024</div>
            <div class="diagnostic">Learn more</div>
            <div class="status">Confirmed</div>
            <div class="photo"></div>
            <img class="icon-edit" src="img/icon-edit-2-3.png" />
            <img class="icon-trash" src="img/icon-trash-3.png" />
          </div>
          <div class="patient-row-2">
            <div class="full-name">Albert Flores</div>
            <div class="date-2">May 18, 2024</div>
            <div class="diagnostic">----</div>
            <div class="status-2">Incoming</div>
            <div class="photo"></div>
            <img class="icon-edit" src="img/icon-edit-2-3.png" />
            <img class="icon-trash" src="img/icon-trash-3.png" />
          </div>
          <div class="patient-row-3">
            <div class="full-name">Floyd Miles</div>
            <div class="date-2">June 18, 2024</div>
            <div class="diagnostic">----</div>
            <div class="status">Confirmed</div>
            <div class="photo"></div>
            <img class="icon-edit" src="img/icon-edit-2-3.png" />
            <img class="icon-trash" src="img/icon-trash-3.png" />
          </div>
          <div class="patient-row-4">
            <div class="full-name">Marvin McKinney</div>
            <div class="date-2">July 18, 2023</div>
            <div class="diagnostic">----</div>
            <div class="status-3">Cancelled</div>
            <div class="photo"></div>
            <img class="icon-edit" src="img/icon-edit-2-3.png" />
            <img class="icon-trash" src="img/icon-trash-3.png" />
          </div>
          <div class="table-heading">
            <div class="text-wrapper-4">Patient name</div>
            <div class="text-wrapper-5">Date In</div>
            <div class="text-wrapper-6">Symptoms</div>
            <div class="text-wrapper-7">Status</div>
          </div>
          <div class="heading-2">Patient Data</div>
          <img class="line-5" src="img/line-31.png" />
        </div>
        <div class="right-sidebar">
          <div class="doctor">
            <div class="group">
              <div class="text-wrapper-8">Dr. Sarah Patel, MD</div>
              <div class="group-2">
                <div class="text-wrapper-9">Appointment</div>
                <div class="text-wrapper-10">500</div>
              </div>
              <div class="group-3">
                <div class="text-wrapper-11">Total Patients</div>
                <div class="text-wrapper-12">2500</div>
              </div>
              <div class="group-4">
                <div class="text-wrapper-9">Rate</div>
                <div class="text-wrapper-13">4.8</div>
              </div>
              <div class="overlap-group-3"></div>
              <img class="line-6" src="img/line-35.png" />
              <img class="line-7" src="img/line-35.png" />
            </div>
          </div>
          <img class="line-8" src="img/line-34.png" />
          <img class="line-9" src="img/line-34.png" />
          <div class="patient-satisfaction">
            <div class="text-wrapper-14">Patient Satisfaction</div>
            <div class="group-5">
              <div class="text-wrapper-15">Excellent</div>
              <div class="rectangle"></div>
            </div>
            <div class="group-6">
              <div class="text-wrapper-15">Good</div>
              <div class="rectangle-2"></div>
            </div>
            <div class="group-7">
              <div class="text-wrapper-15">Poor</div>
              <div class="rectangle-3"></div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-4">
                <img class="ellipse" src="img/ellipse-64.png" />
                <img class="ellipse-2" src="img/ellipse-65.png" />
                <img class="ellipse-3" src="img/ellipse-66.png" />
                <div class="text-wrapper-16">Total</div>
                <div class="text-wrapper-17">50k</div>
              </div>
            </div>
          </div>
          <div class="upcoming-appointment">
            <div class="heading-3">Scheduled Appointments</div>
            <img class="icon-more-2" src="img/icon-more-1.png" />
            <div class="group-8">
              <div class="text-2">Miss Jane Thomas</div>
              <img class="icon-arrow-right" src="img/icon-arrow-right-1.png" />
              <div class="timeline">
                <p class="p">08:30 am - 10:30 am</p>
                <div class="ellipse-4"></div>
              </div>
            </div>
            <div class="timeline-2">July 30, 2024</div>
            <div class="overlap-3">
              <div class="group-9">
                <div class="text-2">Miss Jane Thomas</div>
                <img class="icon-arrow-right" src="img/icon-arrow-right-1.png" />
                <div class="timeline-3"></div>
              </div>
              <div class="timeline-4">Profile Shared</div>
              <img class="vector" src="img/vector.png" />
              <div class="status-4">View</div>
            </div>
            <img class="line-10" src="img/line-64.png" />
            <img class="line-11" src="img/line-65.png" />
          </div>
        </div>
        <header class="header">
          <div class="search-bar">
            <div class="overlap-4">
              <div class="group-10"><input class="input" /></div>
              <img class="icon-search-normal" src="img/icon-search-normal.png" />
            </div>
          </div>
          <div class="text-wrapper-18">Clinic Dashboard</div>
          <div class="icon-notification-wrapper"><img class="icon-notification" src="img/icon-notification.png" /></div>
        </header>
        <div class="sidebar">
          <div class="overlap-5">
            <div class="rectangle-4"></div>
            <div class="top-menu">
              <div class="general">
                <div class="frame">
                  <img class="img-2" src="img/icon-element-3.png" />
                  <div class="text-wrapper-19">Dashboard</div>
                </div>
                <div class="frame-2">
                  <img class="img-2" src="img/icon-note.png" />
                  <div class="text-wrapper-20">Appointment</div>
                </div>
                <div class="frame-2">
                  <img class="img-2" src="img/icon-people.png" />
                  <div class="text-wrapper-20">Patient</div>
                </div>
                <div class="frame-2">
                  <img class="img-2" src="img/icon-setting-2.png" />
                  <div class="text-wrapper-20">Settings</div>
                </div>
                <div class="frame-2">
                  <img class="img-2" src="img/icon-login.png" />
                  <div class="text-wrapper-20">Logout</div>
                </div>
              </div>
            </div>
          </div>
          <div class="user-account">
            <div class="group-11">
              <div class="overlap-group-5">
                <div class="avatar"></div>
                <img class="rectangle-5" src="img/rectangle-442-1.png" />
              </div>
              <div class="name-position"><div class="text-wrapper-21">Sarah Patel</div></div>
              <div class="div-wrapper"><div class="text-wrapper-22">Doctor</div></div>
              <img class="icon-arrow-down" src="img/icon-arrow-down.png" />
            </div>
          </div>
          <div class="overlap-6">
            <div class="logo">
              <p class="diabright"><span class="span">Dia</span> <span class="text-wrapper-23">bright</span></p>
            </div>
            <div class="icon">
              <div class="logo-2">
                <div class="overlap-group-6">
                  <div class="ellipse-5"></div>
                  <img class="line-12" src="img/line-7.png" />
                  <img class="line-13" src="img/line-6.png" />
                  <img class="line-14" src="img/line-6-1.png" />
                  <img class="line-15" src="img/line-5.png" />
                  <img class="line-16" src="img/line-4.png" />
                  <img class="line-17" src="img/line-3-1.png" />
                  <img class="line-18" src="img/line-2-1.png" />
                  <img class="line-19" src="img/line-1-1.png" />
                  <p class="diabright-2"><span class="span">Dia</span> <span class="text-wrapper-23">bright</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
