:root {
  --t: rgba(49, 49, 49, 1);
  --p: rgba(81, 93, 239, 1);
  --button-large-font-family: "Poppins", Helvetica;
  --button-large-font-weight: 500;
  --button-large-font-size: 16px;
  --button-large-letter-spacing: 0px;
  --button-large-line-height: 25px;
  --button-large-font-style: normal;
  --material-theme-50: rgba(255, 255, 255, 1);
  --variable-collection-400: rgba(155, 138, 251, 1);
  --variable-collection-500: rgba(122, 90, 248, 1);
  --variable-collection-700: rgba(89, 37, 220, 1);
  --variable-collection-g900: rgba(16, 15, 20, 1);
  --variable-collection-g600: rgba(73, 71, 90, 1);
  --variable-collection-g500: rgba(104, 102, 119, 1);
  --variable-collection-g400: rgba(151, 148, 170, 1);
  --variable-collection-g300: rgba(203, 202, 215, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-500-duplicate: rgba(122, 90, 248, 1);
}
